@model CMSMvcApplication.AccountServiceReference.Account
@{
    ViewBag.Title = "EditProfile";
}

<h1 class="margin15">Edit Profile</h1>
@using(@Html.BeginForm("editprofile","home"))
{ 
    <div class="cmsForm selectBdate">
        <label><b>First Name</label>
        @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
        
        <label>Last Name</label>
        @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
        
        <label>Birthdate</label>
        
        <select class="form-control" id="date" name="dd"></select>
        <select class="form-control" id="month" name="mm"></select>
        <select class="form-control" id="year" name="yyyy"></select>
        <script type="text/javascript">date_populate("date", "month", "year");</script>
        <br>

        <label>Contact No</label>
        @Html.EditorFor(m => m.ContactNo, new { @class = "form-control" })
        <label>Address</label>
        @Html.EditorFor(m => m.Address, new { @class = "form-control" })
        <label>Email Address</label>
        @Html.EditorFor(m => m.Address, new { @class = "form-control" })
        <br>
        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
    </div>
}