@model CMSMvcApplication.AccountServiceReference.Account
@{
    ViewBag.Title = "EditProfile";
}

<h1 class="margin15">Edit Profile</h1>
@using (@Html.BeginForm("editprofile", "home"))
{
    <div class="cmsForm selectBdate">
        <label><b>First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.FirstName" autofocus="" name="First Name">*@

        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.LastName" autofocus="" name="Last Name">*@

        <label>Distributor</label>
        @Html.TextBoxFor(m => m.Company, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.Company" autofocus="" name="Distributor">*@
        <label>Contact No</label>
        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.ContactNo" autofocus="" name="Contact No">*@

        <label>Address</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.Address" autofocus="" name="Address">*@

        <label>Email Address</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "" })
        @*<input type="text" class="form-control" value="@Model.Email" autofocus="" name="Email Address">*@

        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
        <br />
    </div>
}