@model IEnumerable<SODAMvcApplication.CategoriesServiceReference.Specific>

@{


    var selCategory = ViewBag.SelCategory as SODAMvcApplication.CategoriesServiceReference.Category;
    ViewBag.Title = selCategory != null && selCategory.PageTitile != "" ? selCategory.PageTitile : "Browse";
    ViewBag.Description = selCategory.MetaDesc;
    ViewBag.Keywords = selCategory.Metatags;
    ViewBag.CurPage = "Category";
}

<div class="listingSection" style="background:#ffffff url(@selCategory.BG_IMG) no-repeat top center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height:780px;">
        <div class="container">
            <div class="content border">
                <div class="listingHeadBg border clearfix" style="background: url(@selCategory.Banner_IMG) right center no-repeat #f8f8f8;">
                    <h1>@selCategory.CategoryName</h1>
                    <p>@selCategory.Overview</p>@*todo: put overview here*@
                </div>
                <div class="contentBody transparentBg clearfix">
                   
                    <div class="row">
                    @for (int i = 0; i < Model.Count(); i++)
                        {
                            var spec = Model.ElementAt(i);
                            <div class="catThumb listThumbBg clearfix" style="min-height:185px;">
                                <a href=@Url.Action("Details", new { id = spec.Title.Trim().Replace(": ", "-").Replace(" ", "-").Replace("---", "-").ToLower() })>
                                    <img alt="@spec.Title" src=@HttpUtility.UrlPathEncode(@spec.ImageURL)>
                                    <h2 style="width:200px;">@spec.Title</h2>
                                </a>
                            </div> @*end catThumb listThumbBg*@
                        }  

                   
                    
                    </div>
                    <div class="row"><p><br />@selCategory.Description<br /><br /></p></div>
                </div>
                    
              
                </div> @*end catThumbWrapper clearfix*@

                    
                

                    <!-- end of catThumbWrapper-->

                   

                </div>
            </div>
