@model SODAMvcApplication.CategoriesServiceReference.Specific


@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.PageTitle) ? Model.PageTitle : "Details";
    ViewBag.Description = Model.MetaDesc;
    ViewBag.Keywords = Model.Metatags;

    var related = ViewBag.Related as IEnumerable<SODAMvcApplication.CategoriesServiceReference.Specific>;
    var selCat = ViewBag.SelCategory as SODAMvcApplication.CategoriesServiceReference.Category;
    //var portalUrl = Session["PortalUrl"] as string;
    var portalUrl = "http://" + Request.Url.Host.Replace("www", "portal") + "/home/purchasedetails";
    ViewBag.CurPage = "Category";
}

<div class="landingSection" style="background:#ffffff url(@Model.BG_Img) top center no-repeat;">
    <div class="landingWrapper">
        <div class="margin15" id="catName">Category &nbsp; <span class="glyphicon glyphicon-play"></span>&nbsp; <span id="active2">@selCat.CategoryName</span></div>
        <div class="row">
            <h1 class="col-md-8" id="titleName" style="margin-bottom:10px;">@Model.Title</h1>
            <a href="@portalUrl" class="purchaseBtn fr col-md-4">Purchase</a>
        </div>

        <div align="center" class="videoArea">
            <video style="width:96%; height:54%; background-color:#333333; margin-top:8px;" controls autoplay name="media"><source src="@Model.VideoURL" type="video/mp4">Your browser does not support the video tag.</video>
        </div>


        <div class="lCont border">
            <h1 class="videoHead">About</h1>
            <div class="videoDetails">
                <p>@Model.Description</p>
                <p><br></p>
                <p><span style="font-weight: bold; color: #f48518;">Category</span> &nbsp; &nbsp; @selCat.CategoryName</p>
            </div>
        </div>

        <div class="lCont border">
            <h2>Related Titles</h2>

            @{int i = 1;}
            @while (related != null && i < related.Count())
            {
                if (i > 1 && (i - 1) % 4 == 0 && i <= related.Count())
                {
                    <hr class="hrLine clearfix">
                }
                <div class="catThumbWrapper clearfix">
                    @for (int j = 0; j < 4 && i <= related.Count(); j++, i++)
                    {
                        var spec = related.ElementAt(i-1);
                        <div class="catThumb2">
                            <a href=@Url.Action("Details", new { id = spec.Title.Trim().Replace(": ", "-").Replace(" ", "-").Replace("---", "-").ToLower() })>

                                <img alt=@spec.Title src=@HttpUtility.UrlPathEncode(@spec.ImageURL)>
                                <h3 style="width:210px;">@spec.Title</h3>
                                                    </a>
                        </div>
                    }
                </div>@*end catThumbWrapper clearfix*@
            }




            <div class="purchBrowse clearfix">
                @*<a href="http://portal.sac-iis.com/" class="purchaseBtn2 fl">Purchase</a>*@
                <a href="@portalUrl" class="purchaseBtn2 fl">Purchase</a>
                
                <a href="@Url.Action("index","categories")" class="browseCatBtn fr">Browse Category</a>
            </div>
        </div>
    </div>


</div>
