@{
    ViewBag.Title = "AddRegion";
     //USD,
     //       EUR,
     //       AUD,
     //       GBP
    var currencyList = ViewBag.CurrencyList as IEnumerable<SelectListItem>;
    var SalesCodeList = ViewBag.SalesCodeList as IEnumerable<SelectListItem>;
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Add Region</h2>
        @using (@Html.BeginForm("addregion", "admin", FormMethod.Post, new { @class = "portalForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <!-- Script by hscripts.com -->
            <label>Region *</label>
            <input  type="text" class="form-control" name="RegionName" required>
            <label>Website URL *</label>
            <input type="text" class="form-control" name="siteUrl" required>
            <br />
            <label>Currency *</label>           
            @Html.DropDownList("currency", currencyList, "Select Currency", new { @class = "form-control", style = "width:50%", required = "" })
            <label><br />Service charge code *</label>
            <input type="text" class="form-control" style="width:50%;" name="serviceChargeCode" value="" required>
            <label>Default Sales Code * (default pricing if no sales code is verified by the customer)</label>
            @Html.DropDownList("defaultSalesCode", SalesCodeList, "Select Sales Code", new { @class = "form-control", style = "width:50%", required = "" })
            <br />
            <label>Air Player Package *</label><input type="file" name="air" required>
            <br />


    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Paypal Account Settings *</strong> </h3>
        </div>
        <div class="panel-body">
            <div>
                <label>User name:</label><br />
                <input type="text" style="width:100%;" class="form-control" name="usernamePpUser" required><br />
                <label>Password:</label><br />
                <input type="password" style="width:100%;" class="form-control" name="passwordPpUser" required><br />
                <label>Signature</label><br />
                <input type="text" style="width:100%;" class="form-control" name="signaturePpUser" required>
            </div>

        </div>
    </div> <!-- end of panel: paypal account settings -->
            
             <br />
            
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
        }
    </div>
</div>
