@{
    ViewBag.Title = "AddSale";
    var Regionlist = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;
    var SalesCodeList = ViewBag.SalesCode as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.SalesCode>;
    
    //Jonats Notes: use regionlist and salescode list for combobox values. 
    //Set name attribute for inputtags according to na controller
}

<div class="portalWrap border">

    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Add Sales</h2>
        @using (@Html.BeginForm("addsale", "admin", FormMethod.Post))
        { 
            <!-- Script by hscripts.com -->
            <label>Region:</label>
            <select class="form-control" name="Region">
                @foreach (var region in Regionlist)
                {

                <option selected="selected" value="">Select a region</option>
                <option value="@region.Id">@region.RegionName</option>
                }
            </select>
            <!-- Script by hscripts.com -->
            
            <!-- Script by hscripts.com -->
            <label>Sales Code:</label>
            <select class="form-control" name="" id="regionlist" onkeydown="regionlists', event)">
                @foreach (var salescode in SalesCodeList)
                {

                <option selected="selected" value="">Select sales code </option>
                <option value="@salescode.Id">@salescode.Sales_Code</option>
                }
            </select>
            <!-- Script by hscripts.com -->

            <label><b>First Name*</label>
            <input type="text" class="form-control" required name="FirstName" value="">
            <label>Last Name*</label>
            <input type="text" class="form-control" required name="LastName" value="">
            <label>Email Address*</label>
            <input type="text" class="form-control" required name="Email" value="">
            <label>Contact Number (optional)</label>
            <input type="text" class="form-control" name="ContactNo" value="">
            <label>Company  (optional)</label>
            <input type="text" class="form-control" name="Company" value="">
            <label>Password</label>
            <input type="password" class="form-control" required name="Password" value="">
            <label>Confirm Password</label>
            <input type="password" class="form-control" required  name="Password" value="">
            <label>Discount Rate</label>
            <input type="text" class="form-control" name="Discount" value="">

            <br />
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br /><br />
            <p style="clear:both;"><br>A verification email will be sent to the user for verification.</p>
        }
    </div>
</div>

