<div class="fr">
    <ul class="portalUserMenu">
        <li style="padding-left:0px;">@Html.ActionLink("REPORTS", "index", "admin")</li>
        <li>@Html.ActionLink("SALES", "sales", "admin")</li>
        <li>@Html.ActionLink("PRICE", "price", "admin")</li>
        <li>@Html.ActionLink("REGION", "region", "admin")</li>
        <li>@Html.ActionLink("SALES CODE", "salescode", "admin")</li>
    </ul> <!-- end of portal user menu-->
    <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
</div>

