<div class="fr">
    <ul class="portalUserMenu">
        <li style="padding-left:0px;"><a href="@Url.Action("index")">REPORTS</a></li>
        <li><a href="@Url.Action("sales")">SALES</a></li>
        <li><a href="@Url.Action("price")">PRICE</a></li>
        <li><a href="@Url.Action("region")">REGION</a></li>
        <li><a href="@Url.Action("salescode")">SALES CODE</a></li>
    </ul> <!-- end of portal user menu-->
    <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
</div>

