<div class="fr">
    <ul class="portalUserMenu">
        <li style="padding-left:0px;">@Html.ActionLink("REPORTS", "index", "admin")</li>
        <li>@Html.ActionLink("SALES", "sales", "admin")</li>
        <li>@Html.ActionLink("PRICE", "price", "admin")</li>
        <li>@Html.ActionLink("REGION", "region", "admin")</li>
        <li>@Html.ActionLink("SALES CODE", "salescode", "admin")</li>
    </ul> <!-- end of portal user menu-->
    @if(Session["Username"]!= null)
    {
        <div class="logoutSec fr clearfix">Hi @Session["Username"]! @Html.ActionLink("(logout)","logout","home")</div>
    }
    else
    { 
        <div class="logoutSec fr clearfix"> @Html.ActionLink("(logout)","logout","home")</div>
    }
</div>

