@model SODAPortalMvcApplication.ViewModel.SalesViewModel
@{
    //model is not list 
    ViewBag.Title = "EditSale";
    var rl = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;
    var SalesCodeList = ViewBag.SalesCodeList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.SalesCode>;

    var SalesCodeModel = ViewBag.SalesCode as SODAPortalMvcApplication.PortalServiceReference.SalesCode;
    //JOnats note set name in input tags. same with add     
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Sales</h2>
        @using (@Html.BeginForm("editsale", "admin", FormMethod.Post, new { @class = "portalForm" }))
        {  
           
            
            
             <!-- Script by hscripts.com -->
            <label>Region:</label>
            <select class="form-control" name="Region">
                @foreach (var region in rl)
                {
                if (region.Id == Model.salesPerson.RegionId)
                    {
                    <option selected value="@region.Id">@region.RegionName</option>
                    }
                else
                    { 
                    <option value="@region.Id">@region.RegionName</option>
                    }
                }
            </select>
            <!-- Script by hscripts.com -->
            
            
            <!-- Script by hscripts.com -->
            <label>Sales Code:</label>
            <select class="form-control" name="SalesCode">
                <option selected="selected" value="-1">Select sales code</option>
                @foreach(var salescode in SalesCodeList)
                {
                if (salescode.Id == Model.salesCode.Id)
                    {
                    <option selected value="@salescode.Id">@salescode.Sales_Code</option>
                    }
                else
                    {
                    <option value="@salescode.Id">@salescode.Sales_Code</option>
                    }
                }
            </select>
            <!-- Script by hscripts.com -->
            

            <label><b>First Name*</label>
            <input type="text" class="form-control" name="FirstName" value=@Model.account.FirstName>
            <label>Last Name*</label>
            <input type="text" class="form-control" name="LastName" value=@Model.account.LastName>
            <label>Email Address*</label>
            <input type="text" class="form-control" name="Email" value=@Model.account.Email readonly>
            <label>Contact Number (optional)</label>
            <input type="text" class="form-control" name="ContactNo" value=@Model.account.ContactNo>
            <label>Distributor*</label>
            <input type="text" class="form-control" name="Company" value=@Model.account.Company>
            <label>Password</label>
            <input type="password" name="Password" class="form-control"  value=@Model.account.PASSWORD readonly>
            <label>Confirm Password</label>
            <input type="password" name="Password" class="form-control" value=@Model.account.PASSWORD readonly>
            
            <label>Discount Rate</label>
            <input type="number" class="form-control" name="Discount"  value=@(Model.salesCode.Discount * 100)>

            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
            <p style="clear:both;"><br>A verification email will be sent to the user for verification.</p>
   
        }
</div>
        </div>
