@model SODAPortalMvcApplication.AccountServiceRef.Account
@{
    //model is not list
    ViewBag.Title = "EditMarketer";
   
}

<div class="portalWrap border">

    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Marketer</h2>
        @using (Html.BeginForm("editmarketer", "admin", FormMethod.Post, new { @class = "portalForm" }))
        {

            <label><b>First Name</label>
            <input type="text" class="form-control" value="@Model.FirstName" name="FirstName">
            <label>Last Name</label>
            <input type="text" class="form-control" value="@Model.LastName" name="LastName">
            <label>Distributor: </label>
            <input type="text" class="form-control" value="@Model.Distributor" name="Distributor">

            <label>Contact No</label>
            <input type="text" class="form-control" value="@Model.ContactNo" name="ContactNo">
            <label>Address</label>
            <input type="text" class="form-control" value="@Model.Address" name="Address">
            <label>Email Address</label>
            <input type="text" class="form-control" value="@Model.Email" name="Email">
            <br />
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <P>&nbsp;</P>
        }
    </div>
</div>
