@model SODAPortalMvcApplication.PortalServiceReference.Price
@{
    ViewBag.Title = "EditPrice";
     var Regionlist = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;

   
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Price</h2>
        @using (@Html.BeginForm("editprice", "admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "portalForm" }))
        {
            <label>Region:</label>
            <select class="form-control" name="Region"  >
                
                @foreach (var region in Regionlist)
                {
                    if (region.Id == Model.RegionId)
                    {
                       
                        //var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo(region.Currency);
                        //var ri = new System.Globalization.RegionInfo(culture.LCID);
                        <option selected="selected" value="@region.Id">@string.Format("{0} (Currency in {1})", region.RegionName, region.Currency)</option>
                        break;
                    }
                    else
                    {
                        <option value="@region.Id">@string.Format("{0} (Currency in {1})", region.RegionName, region.Currency)</option>
                    }
                }
            </select>
            <!-- Script by hscripts.com -->

            <label><br />Price per month* </label>
            <input type="text" class="form-control" name="Price" value=@string.Format("{0:0.00}",Model.PriceAmt)>
            <label><br />Price per 3 months*</label>
            <input type="text" class="form-control" name="PriceB" value=@string.Format("{0:0.00}",Model.PriceAmt_B)>
            <label><br />Price per 6 months*</label>
            <input type="text" class="form-control" name="PriceC" value=@string.Format("{0:0.00}",Model.priceAmt_C)>
            <label><br />Service charge code*</label>
            <input type="number" class="form-control" name="serviceCharge" value="" required>
           
            @*<label>Is first month free?</label><br>
         if (Model.FirstMonthFree)
           {
                <div class="fl" style="margin-right:10px;"><input checked type="radio" name="monthFree" value="Yes"> Yes</div> 
                <div class="fl"><input type="radio" name="monthFree" value="No"> No </div>
           }
           else
           {
                <div class="fl" style="margin-right:10px;"><input type="radio" name="monthFree" value="Yes"> Yes</div> 
                <div class="fl"><input type="radio" name="monthFree" checked value="No"> No </div>
           }*@
         
           
            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
        }
    </div>
</div>