@model SODAPortalMvcApplication.PortalServiceReference.Price
@{
    ViewBag.Title = "EditPrice";
     var Regionlist = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;

   
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Price</h2>
        @using (@Html.BeginForm("editprice", "admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "portalForm" }))
        {
            <label>Region:</label>
            <select class="form-control" name="Region">
                @foreach (var region in Regionlist)
                {
                    if (region.Id == Model.Id)
                    {
                       
                        <option selected="selected" value="@region.RegionName">@region.RegionName</option>
                    }
                    else
                    {
                        <option value="@region.Id">@region.RegionName</option>
                    }
                }
            </select>
            <!-- Script by hscripts.com -->

            <label><b>Price (AUD)*</label>
            <input type="text" class="form-control" name="Price" value=@Model.PriceAmt>
            <label>Is first month free?</label><br>
         if (Model.FirstMonthFree)
           {
                <div class="fl" style="margin-right:10px;"><input checked type="radio" name="monthFree" value="Yes"> Yes</div> 
                <div class="fl"><input type="radio" name="monthFree" value="No"> No </div>
           }
           else
           {
                <div class="fl" style="margin-right:10px;"><input type="radio" name="monthFree" value="Yes"> Yes</div> 
                <div class="fl"><input type="radio" name="monthFree" checked value="No"> No </div>
           }
         
           
            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
        }
    </div>
</div>