@model IEnumerable<SODAPortalMvcApplication.ViewModel.ReportViewModel>
@{
    //Jon notes: Model is List type.
    ViewBag.Title = "Index";
    
}

<div class="portalWrap border">
     
    @RenderPage("adminmenu.cshtml")
    <div class="portalCont margin15">
        <h2>Report</h2>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Search By</b></h3>
            </div>
            <div class="panel-body">
                From Date: <input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date"> To Date: <input type="text" id="popupDatepicker2" class="form-control" placeholder="Click to choose date"> <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>

                <hr>

                Sales Code:  <input type="text" id="" class="form-control" placeholder="Enter sales code">  <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>
            </div>
        </div> <!-- end of panel:top banner-->


        <p>&nbsp;</p>
        <table class="portTable">
            @{ if (Model.Count() > 0)
            {

            <thead>
                <tr style="background-color:#fff;">
                    <th>Purchase Date</th>
                    <th>Contract End Date</th>
                    <th>Company</th>
                    <th>Full Name</th>
                    <th>Sales Code</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var subscriber in Model)
                {

                    <tr>
                        <td width="170">@string.Format("{0:MMM dd yyyy}",subscriber.customer.DatePurchase)</td>
                        <td width="170">@subscriber.customer.DateSubscriptionEnd</td>
                        <td width="170">@subscriber.account.Company</td>
                        <td width="200">@subscriber.account.FirstName +" "+@subscriber.account.LastName</td>
                        <td width="100">@subscriber.salesCode.Sales_Code</td>
                    </tr>
                }



            </tbody>
            }
            else
            {
            <p class="noDisplay" >No Reports Yet!</p>
            }
            }


        </table>


    </div>
</div>
