@*@model IEnumerable<SODAPortalMvcApplication.ViewModel.ReportViewModel>*@
@model PagedList.IPagedList<SODAPortalMvcApplication.ViewModel.ReportViewModel>
 @using PagedList.Mvc;
@{
    //Jon notes: Model is List type.
    ViewBag.Title = "Index";
    
}

<div class="portalWrap border">
     
    @RenderPage("adminmenu.cshtml")
    <div class="portalCont margin15">
        <h2>Report</h2>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Search By</b></h3>
            </div>
            <div class="panel-body">
                @using(@Html.BeginForm("index","admin",FormMethod.Get))
                {
                 <label> From Date: </label> @Html.TextBox("df", ViewBag.df as string, new { @class = "form-control", placeholder = "Click to choose date", id = "popupDatepicker" })
                     @*<input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date" name="df">*@
                 <label>To Date:</label>@Html.TextBox("dt", ViewBag.dt as string, new { @class = "form-control", placeholder = "Click to choose date", id = "popupDatepicker2" })
                     @*<input type="text" id="popupDatepicker2" class="form-control" placeholder="Click to choose date" name="dt">*@        
                    <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>

                <hr>
                <label>Sales Code:</label>@Html.TextBox("sc", ViewBag.sc as string, new {@class="form-control", placeholder="Enter sales code" })
                @*<input type="text" id="" class="form-control" placeholder="Enter sales code" name="sc"/>*@        
                 <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>
                }
            </div>
        </div> <!-- end of panel:top banner-->


        <p>&nbsp;</p>
        <table class="portTable">
            @{ if (Model.Count() > 0)
            {

            <thead>
                <tr style="background-color:#fff; font-weight:bold;">
                    <td align="center">Full Name</td>
                    <td align="center">Purchase Date</td>
                    <td align="center">Contract End Date</td>
                    <td align="center">Company</td>
                    <td align="center">Country </td>
                    <td align="center">Sales Code</td>
                    <td align="center">No. of Licenses</td>
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var subscriber in Model)
                {

                    <tr>
                        <td align="center" width="170" style="padding:5px;">@subscriber.account.FirstName @subscriber.account.LastName</td>
                        <td align="center" width="170">@string.Format("{0:MMM dd yyyy}",subscriber.customer.DatePurchase)</td>
                        <td align="center" width="170">@string.Format("{0:MMM dd yyyy}", subscriber.DateContractEnd)</td>
                        <td align="center" width="150">@subscriber.account.Company</td>            
                        <td align="center" width="150">@subscriber.account.Country</td>
                        <td align="center" width="150">@subscriber.salesCode.Sales_Code</td>
                        <td align="center" width="100">@subscriber.customer.Licenses</td>
                        
                    </tr>
                }



            </tbody>
            }
            else
            {
            <p class="noDisplay" >No Reports Yet!</p>
            }
            }


        </table>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page,dt = ViewBag.dt, df=ViewBag.df, sc = ViewBag.sc }))
    </div>
</div>
