@model IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Price>
@{
    ViewBag.Title = "Price";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">REPORTS</a></li>
            <li><a href="@Url.Action("Sales")">SALES</a></li>
            <li><a href="@Url.Action("Price")">PRICE</a></li>
            <li><a href="@Url.Action("Region")">REGION</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Price <span><a href="@Url.Action("AddPrice")"><img src="~/Content/images/portal/addNew.gif"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">

            <thead>
                <tr style="background-color:#ffffff;">

                    <th>Region</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="170">46.99AUD</td>
                    <td width="100"><a href="@Url.Action("editPrice")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="170">46.99AUD</td>
                    <td width="100"><a href="@Url.Action("editPrice")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="170">46.99AUD</td>
                    <td width="100"><a href="@Url.Action("editPrice")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="170">46.99AUD</td>
                    <td width="100"><a href="@Url.Action("editPrice")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>





            </tbody>
        </table>


    </div>
</div>
