@model IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>
@{
    ViewBag.Title = "Region";
}

<div class="portalWrap border">
    
    @*admin menu goes here*@

    <div class="portalCont margin15">
        <h2>Region <span><a href="@Url.Action("AddRegion")"<img src="~/Content/images/portal/addNew.gif"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">

            <thead>


                <tr style="background-color:#ffffff;">

                    <th>Region</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="100"><a href="@Url.Action("EditRegion")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><a id="simpleConfirm"> <img src="~/Content/images/portal/delete.png"></a></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="100"><a href="@Url.Action("EditRegion")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="100"><a href="@Url.Action("EditRegion")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>
                <tr>
                    <td width="200">VIC Melbourne</td>
                    <td width="100"><a href="@Url.Action("EditRegion")"><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><img src="~/Content/images/portal/delete.png"></td>
                </tr>


                <script>
                    $("#simpleConfirm").confirm();
                </script>


            </tbody>
        </table>


    </div>
</div>
