@model IEnumerable<SODAPortalMvcApplication.PortalServiceReference.SalesPerson>
@{
    //Model is List types
    ViewBag.Title = "Sales";
}

<div class="portalWrap border">
    
    @*admin menu goes here*@

    <div class="portalCont margin15">
        <h2>Sales <span><a href="@Url.Action("AddSale")"><img src="~/Content/images/portal/edit.png"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">

            <thead>
                <tr style="background-color:#ffffff;">

                    <th>Full Name</th>
                    <th>Company</th>
                    <th>Sales Code</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td width="200">Samantha Smith</td>
                    <td width="170">Straight Arrow</td>
                    <td width="100">SACS78</td>
                    <td width="100"><a href="@Url.Action("EditSale")"><img src="~/Content/images/portal/edit.png"></a></td>
                </tr>
                <tr>
                    <td width="200">Samantha Smith</td>
                    <td width="170">Straight Arrow</td>
                    <td width="100">SACS78</td>
                    <td width="100"><a href="@Url.Action("EditSale")"><img src="~/Content/images/portal/edit.png"></a></td>
                </tr>
                <tr>
                    <td width="200">Samantha Smith</td>
                    <td width="170">Straight Arrow</td>
                    <td width="100">SACS78</td>
                    <td width="100"><a href="@Url.Action("EditSale")"><img src="~/Content/images/portal/edit.png"></a></td>
                </tr>
                <tr>
                    <td width="200">Samantha Smith</td>
                    <td width="170">Straight Arrow</td>
                    <td width="100">SACS78</td>
                    <td width="100"><a href="@Url.Action("EditSale")"><img src="~/Content/images/portal/edit.png"></a></td>
                </tr>



            </tbody>
        </table>


    </div>
</div>
