@{
    var RequestUrl = Request.Url.Host;
    var mainSiteUrl = RequestUrl.Contains("portal") ? "http://" + RequestUrl.Replace("portal", "www") : "http://localhost:51299/";
    var PhoneNo = Session["PhoneNo"] as string;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safety On Demand - Portal</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
 
    <!-- Bootstrap Form Helpers -->
    <link href="/Content/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">


    <link href="/Content/css/main.css" rel="stylesheet" media="screen">
    <link href="/Content/css/portal.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.datepick.css">


   
</head>
<body>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <header>
        <div class="container row">
            @*<div class="col-md-2"><a target="_blank" href="http://sac-iis.com/"><img class="logo" src="~/Content/images/safetyOnDemand-logo.jpg" alt="Safety On Demand"></a></div>*@
            <div class="col-md-2"><a target="_blank" href="@mainSiteUrl"><img class="logo" src="~/Content/images/safetyOnDemand-logo.jpg" alt="Safety On Demand"></a></div>
            <div class="headerRight fr col-md-10">
            @if(PhoneNo != null)
            {
                <div class="call"><span class="calltxt">CALL</span> @PhoneNo</div>
            }
           else
            { 
                 <div class="call"><span class="calltxt">CALL</span> 03 9809 7777</div>
            } 
            </div> <!-- end of headerRight-->
        </div>
    </header>

   

    <div class="container row portalContainer">

        @RenderBody()

    </div>


    <footer>
        @*<div class="whitespace container row">
            <div class="col-md-2"><a target="_blank" href="http://sac-iis.com/"><img src="/Content/images/safetyOnDemand-logoFooter.jpg" alt="Safety On Demand"></a></div>
            <div align="right" class="ftrLinks col-md-10">
                <div class="clearfix">
                    <ul>
                        <li><a target="_blank" href="http://www.sac-iis.com/">HOME</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/contact">CONTACT</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/sitemap">SITEMAP</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/legals">LEGALS</a></li>
                    </ul>
                </div>
                <div class="clearfix"><span>Copyright &copy; 2013</span></div>
            </div>
        </div>*@

        <div class="whitespace container row">
            <div class="col-md-2"><a target="_blank" href="@mainSiteUrl"><img src="/Content/images/safetyOnDemand-logoFooter.jpg" alt="Safety On Demand"></a></div>
            <div align="right" class="ftrLinks col-md-10">
                <div class="clearfix">
                    <ul>
                        <li><a href="@mainSiteUrl">HOME</a></li>
                        <li><a href="@mainSiteUrl/contact">CONTACT</a></li>
                        <li><a href="@mainSiteUrl/sitemap">SITEMAP</a></li>
                        <li><a href="@mainSiteUrl/legals">LEGALS</a></li>
                    </ul>
                </div>
                <div class="clearfix"><span>Copyright &copy; @DateTime.Now.Year</span></div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery.min.js" "></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/bootstrap-formhelpers.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.datepick.js"></script>
    <script type="text/javascript" src="/Content/js/jstz.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#popupDatepicker').datepick();
        });

        function showDate(date) {
            alert('The date chosen is ' + date);
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#popupDatepicker2').datepick();
        });

        function showDate(date) {
            alert('The date chosen is ' + date);
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var tz = jstz.determine();

            response_text = 'No timezone found';

            if (typeof (tz) === 'undefined') {
                response_text = 'No timezone found';
            }
            else {
                response_text = tz.name();
            }

            
            $('#tz_info').val(response_text);
            $('#code-example').html("> var timezone = jstz.determine();\n" +
            "> timezone.name(); \n" +
            "\"" + tz.name() + "\"\n\n");
            $('#tz_info').show();

        });
    </script>



</body>
</html>