@model SODAPortalMvcApplication.ViewModel.UserModel
@{
    ViewBag.Title = "AddSale";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">REPORTS</a></li>
            <li><a href="@Url.Action("AddUser")">ADD USER</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi @Session["Username"] <a href=@Url.Action("logout","home")>(logout)</a></div>
    </div>
    @if(TempData["EmailSent"] != null && (TempData["EmailSent"] as Nullable<bool>).Value == true)
    {
        <script type="text/javascript">
         alert("User added successfully and verification Email has been sent to the user");
      </script>
    }
   @using (@Html.BeginForm("adduser", "sales", FormMethod.Post, new { @class = "formRegistration" }))
{
    @Html.ValidationSummary()
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <h2 class="margin15" style="color: #F8981D;">Add User</h2>
    <label>First Name *</label>
    @Html.TextBoxFor(m => m.FirtName, new { placeholder = "First Name", @class = "form-control" })
    <label>Last Name *</label>
    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
    <label>Email Address *</label>
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @class = "form-control" })

    <label>Contact Number (optional)</label>
    @Html.TextBoxFor(m => m.Contact, new { placeholder = "Contact Number", @class = "form-control" })

    <label>Company Name (optional)</label>
    @Html.TextBoxFor(m => m.Company, new { placeholder = "Company Name", @class = "form-control" })

    <label>Password</label>
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })

    <label>Confirm Password</label>
    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Re-type Password", @class = "form-control" })

    <p>&nbsp;</p>
    <div>
        <button style="width:200px;" type="submit" class="fl btn btn-lg btn-primary">PUBLISH</button>
       
    </div>
    <div style="clear:none;"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>A verification email will be sent to the user for verification. Once verified, the user been redirected the login page.</p>


}

</div>
