@model PagedList.IPagedList<SODAPortalMvcApplication.ViewModel.ReportViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    var user = Session["Username"].ToString();
    user = user.Substring(0, user.IndexOf('@'));
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">REPORTS</a></li>
            <li><a href="@Url.Action("AddUser")">ADD USER</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi @user! <a href=@Url.Action("logout","home")>(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Report</h2>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><b>Search By</b></h3></div>
            <div class="panel-body">
                @using (@Html.BeginForm("index", "sales", FormMethod.Post))
                {
                    <label> From Date: </label> @Html.TextBox("df", ViewBag.df as string, new { @class = "form-control", placeholder = "Click to choose date", id = "popupDatepicker" })
                    @*<input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date" name="df">*@
                    <label>To Date:</label>@Html.TextBox("dt", ViewBag.dt as string, new { @class = "form-control", placeholder = "Click to choose date", id = "popupDatepicker2" })
                    @*<input type="text" id="popupDatepicker2" class="form-control" placeholder="Click to choose date" name="dt">*@
                    <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>

                    <hr>
                    <label>Sales Code:</label>@Html.TextBox("sc", ViewBag.sc as string, new { @class = "form-control", placeholder = "Enter sales code" })
                    @*<input type="text" id="" class="form-control" placeholder="Enter sales code" name="sc"/>*@
                    <button class="btn btn-s btn-primary" type="submit">VIEW REPORT</button>
                }
            </div>
            </div>
            <p>&nbsp;</p>
            <table class="portTable">

                <thead>
                    <tr style="background-color:#fff;">
                        <td align="center">Full Name</td>
                        <td align="center">Purchase Date</td>
                        <td align="center">Contract End Date</td>
                        <td align="center">Company</td>
                        <td align="center">Country </td>
                        <td align="center">Sales Code</td>
                        <td align="center">No. of Licenses</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var subscriber in Model)
                    {

                        <tr>
                            <td align="center" width="170" style="padding:5px;">@subscriber.account.FirstName @subscriber.account.LastName</td>
                            <td align="center" width="170">@string.Format("{0:MMM dd yyyy}", subscriber.customer.DatePurchase)</td>
                            <td align="center" width="170">@string.Format("{0:MMM dd yyyy}", subscriber.customer.DateSubscriptionEnd)</td>
                            <td align="center" width="150">@subscriber.account.Company</td>
                            <td align="center" width="150">@subscriber.account.Country</td>
                            <td align="center" width="150">@subscriber.salesCode.Sales_Code</td>
                            <td align="center" width="100">@subscriber.customer.Licenses</td>
                        </tr>
                    }



                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, dt = ViewBag.dt, df = ViewBag.df, sc = ViewBag.sc }))
  </div>

