@model CMSMvcApplication.CatListingServiceReference.Specific
@{
    ViewBag.Title = "Edit";
    var catList = ViewBag.CatList as IEnumerable<CMSMvcApplication.CatListingServiceReference.Category>;
    var TopicList = ViewBag.TopicList as IEnumerable<CMSMvcApplication.CatListingServiceReference.Topic>;
    var ChapterList = ViewBag.ChapterList as IEnumerable<CMSMvcApplication.CatListingServiceReference.Chapter>;
}


<style>
    .ifield {
        background: #fefefe;
        height: 30px;
        width: 60%;
        border: 1px solid #cccccc;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -web-kit-border-radius: 4px;
        -khtml-border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
</style>

<h1 class="margin15">Edit Title/Landing</h1>

<div class="cmsForm selectBdate">
    @using (Html.BeginForm("Edit", "Titles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       @Html.ValidationSummary()
         <label>Title*</label>
        <input type="text" class="form-control" value="@Model.Title" autofocus="" name="Title">

        <label>Code*</label>
        <input type="text" class="form-control" value=@Model.TitleCode autofocus="" name="Code">
        
        <div class="panel panel-default">
                  <div class="panel-heading"><strong>Category</strong></div>
                  <div class="panel-body">
                    <p>Please Choose Category</p>
                      <select id="dddd" class="form-control" name="Category" multiple style="height:300px !important; width: 300px !important; ">
                          @foreach (var cat in catList)
                          {
                              <option value=@cat.CategoryId>@cat.CategoryName</option>
                          }

                      </select>
                      <button type="button" id="button" class="btn btn-default fl">Add</button>
                      <select id="tttt" name="t" multiple style="height:300px; width:200px; display:none;"></select>

                     
                      <div>

                        
                          @foreach (var cat in catList)
                                {
                                    if (Model.CategoryID == cat.CategoryId)
                                    {
                                         <div class="selectedUI">
                                             <p class="addedCat">&nbsp; <strong>Added Category:</strong></p>
                                             <div class="selectedList">@cat.CategoryName <a class="unselect" href="#" rel="' + $selected[$x] + '">x</a></div>
                          
                                        </div>
                                    }
                                   
                                }
                       </div>
                   </div>
        </div>
        
        
        <br />
        <label>Overview</label>
        <textarea class="field span12 form-control" id="textarea" rows="3" cols="49" placeholder="" name="Overview">@Model.Overview.Replace("<br/>", "\n")</textarea>
        <label>Description</label>
        <textarea class="field span12 form-control" id="textarea" rows="5" cols="49" placeholder="" name="Description">@Model.Description.Replace("<br/>", "\n")</textarea>
        <label>Thumbnail Image <span class="uploadTxtCont">(recommended dimension:200 x 108)</span></label>
        <input type="file" name="Thumb">
        <img src="@Model.ImageURL"> <br />  <br />
        <label>Background Image <span class="uploadTxtCont">(recommended dimension:1500 x 947)</span></label>
        <input type="file" name="BG_IMG"> <br />
        <img width="300" height="189" src="@Model.BG_Img">
        <br />
        <label>Video URL</label>
        <input type="text" class="form-control" name="VidURL" value="@Model.VideoURL" autofocus="">
        
        <label>Filename</label>
        <input type="text" class="form-control" placeholder="Enter Filename" autofocus="" name="filename" value="@Model.FileName">
        <label>Duration</label>
        <input type="text" class="form-control" placeholder="Enter Duration" autofocus="" name="duration" value="@Model.Duration">
        
        <div class="panel panel-default">
                  <div class="panel-heading"><strong>Topic</strong></div>
                  <div class="panel-body">

                        @foreach(var topic in TopicList)
                        {
                            
                            <div><input type="text" value="@topic.Name" class="ifield" name="topicName[]" /> <a href='javascript:void(0)' class='unselect'><img src='/Content/images/cms/remove.jpg' width='26' height='26' border='0'> </a></div>
                       
                        }
                       

                        <hr />
                        <input type="text" value="" class="ifield" placeholder="Input topic name" name="topicName" /><input type="button" class="btn btn-default topicBtn" name="add" value="Add more Topic"  style="height: 32px; margin-left: 4px;"  />


                    <div id="text">
                        <div class="notifyError"></div>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Chapter</strong></div>
                  <div class="panel-body">
                      @foreach (var chapter in ChapterList)
                    {
                        <div>
                            <label>Name:</label> <input name='chapterName[]' type='text' value='@chapter.ChapterName' class='ifield' autofocus /><br>
                            <label>Time:</label>  <input name='chapterTime[]' type='text' value='@chapter.time.Value.TotalMilliseconds.ToString()' class='ifield' autofocus /> <a><img src='/Content/images/cms/remove.jpg' width='26' height='26' border='0'></a>
                        </div>
                    }
                            
                            <hr />
                            Name: <input name='chapterName[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter name' /><br>
                            Time: &nbsp; <input name='chapterTime[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter time' />
                            <input type="button" class="btn btn-default chapterBtn" name="add" value="Add more chapter"  style="height: 32px; margin-left: 4px;"  />


                    <div id="text2">
                        <div class="notifyError2"></div>
                    </div>
                  </div>
                </div>
                
                <label>Time (milliseconds)</label>
                <input type="text" class="form-control" placeholder="Enter time" autofocus="" name="time" value="@Model.time.TotalMilliseconds.ToString()">
                <label>Total Chapters</label>
                <input type="text" class="form-control" placeholder="Enter total chapter" autofocus="" name="totalChap" value="@Model.totalChapters">

                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Approve?</strong></div>
                  <div class="panel-body">
                    
                    @if (Model.Approved)
                    {
                        <input type="checkbox" checked="" name="approved" value="yes">
                    }
                    else
                    {
                        <input type="checkbox" name="approved" value="yes">
                    }
                      Yes, this title is approved and can be viewed. 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Is Downloadable?</strong></div>
                  <div class="panel-body">
                      @if (Model.Downloadlable)
                      {
                        <input type="checkbox" name="downloadable" checked="" value="yes">
                      }
                      else
                      {
                        <input type="checkbox" name="downloadable" value="yes">
                      }
                      Yes, this title is downloadable. 
                  </div>
                </div>

                <label>In Disc</label>
                <input type="text" class="form-control" placeholder="Enter Duration" autofocus="" name="indisc" value="@Model.InDisc">

                 <div class="panel panel-default">
                  <div class="panel-heading"><strong>Is Download News?</strong></div>
                  <div class="panel-body">
                    @if (Model.isDOwnloadNews)
                    {
                        <input type="checkbox" checked="" name="isdownloadnews" value="yes">
                    }
                    else
                    {
                        <input type="checkbox" checked="" name="isdownloadnews" value="yes">
                    }
                      Yes, this title is download news.
                  </div>
                </div>

                 <label>QuestionAnswer change date (dd-mm-yy)</label><p style="color:#F8981D !important;">@Model.DateQuestionAnswerChange</p>
    <input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date" name="datefrom" value="@Model.DateQuestionAnswerChange.ToShortDateString()">
                 <p>&nbsp;</p>
        
        
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SEO</h3>
            </div>
            <div class="panel-body">
                <label>Page Title</label>
                <input type="text" class="form-control" placeholder="Enter Page Title" autofocus="" name="TitlePageTitle" value="@Model.PageTitle" required>
                <label>Metatag Keywords</label>
                <input type="text" class="form-control" placeholder="Enter Meta Keywords" autofocus="" name="TitleMetaKeywords" value="@Model.Metatags" required>
                <label>Metatag Description</label>
                <input type="text" class="form-control" placeholder="Enter Meta Description" autofocus="" name="TitleMetaDescription" value="@Model.MetaDesc" required>
            </div>
        </div> <!-- end of panel:SEO-->

        <br>
        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>

    }

</div>