@{

    if (ViewBag.CurPage == "Home")
    {
        <style>
            @@media screen and (max-width: 550px) {
                header {
                    display: block !important;
                }

                footer {
                    display: block !important;
                }
            }
        </style>
    }
    ViewBag.Title = "contactFreePpt";
    if (ViewBag.Title == "contactFreePpt")
    {
        <style>
            @@media screen and (max-width: 550px) {
                header {
                    display: none;
                }

                footer {
                    display: none;
                }

                #CaptchaInputText {
                    border: 1px solid #CCCCCC;
                    border-radius: 4px;
                    height: 25px;
                    padding: 5px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                }
            }

            }
        </style>

    }
}

@model SODAMvcApplication.CMSServiceReference.Contact
@*@using Recaptcha.Web.Mvc;*@
@using CaptchaMvc.HtmlHelpers
@using (@Html.BeginForm("contactFreeppt", "home", FormMethod.Post, new { @class = "contactFormPop" }))
{

    <label>Name*</label>
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "width:300px;", required = "" })
    @*<input type="text" style="width:300px;" class="form-control" name="name" required>*@
    <br>

    <label>Company*</label>
    @Html.TextBoxFor(m => m.Company, new { @class = "form-control", style = "width:300px;", required = "" })
    @*<input type="text" style="width:300px;" class="form-control" name="company" required>*@
    <br>

    <label>Phone*</label>
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", style = "width:300px;", required = "" })
    @*<input type="text" style="width:300px;" class="form-control" name="phone" required>*@
    <br>

    <label>Email*</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "width:300px;", required = "" })
    @*<input type="text" style="width:300px;" class="form-control" id="email" name="" required>*@
    <br>

    <label>Postcode / Area / Zip*</label>
    @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control", style = "width:300px;", required = "" })
    @*<input type="text" style="width:300px;" class="form-control" id="" name="postcode" required>*@
    <br>

    <label>Select Powerpoint</label>
    <select style="width:305px;" class="form-control" id="" name="selectppt">
        <option value="industrial">Industrial Induction Powerpoint</option>
        <option value="office">Office Induction Powerpoint</option>
        <option value="warehouse">Warehouse Induction Powerpoint</option>

    </select>

    @*<div align="center"><img style="border-width:0px;" src="http://www.safety-tv.com//VerificationCode.ashx" id=""></div>
        <label>Verification code*</label>*@
    @*@Html.Recaptcha()*@

    @*<div align="center"><br />@Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)</div>*@
    <div align="center"><br />@Html.Captcha("Refresh", "Input", 5, "Is required field.", true)</div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" style="width:50%; margin-left:158px;" type="submit">Submit</button>

}