@model SODAMvcApplication.CMSServiceReference.Contact
@{
    ViewBag.Title = "Safety On Demand - Contact";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.CurPage = "Contact";
    var phoneNo = Session["PhoneNo"] as string;
}

<style>
    #CaptchaInputText {
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        height: 25px;
        padding: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
</style>

@using CaptchaMvc.HtmlHelpers;
<div class="contactSection" >
    <div class=" container row">
    <div class="col-md-12">

        <div class="marginCommon contactFormCont border">
            <div class="contentHeading videoHead headCommonh1">
                Contact SafetyOnDemand. Email or Call   
                @if(phoneNo != null)
                { 
                    <span class="fontColor">
                       @phoneNo
                    </span>
                }
                else
                {
                    <span class="fontColor">
                        03 8877 7100
                    </span>
                }
                    <p>Please fill in your details and one of our sales consultants will be in touch as soon as possible.</p>
            </div>
            @if (TempData["MsgSent"] != null)
{
    <div style="margin:5% 10% 2% 10%; text-align:center; font-size:14px;" class="alert alert-success"><strong>Request sent successfully.</strong> One of our sales consultant will contact you as soon as possible.</div>
               
}
            <div class="formInput">
                @using (@Html.BeginForm("contact", "Home", FormMethod.Post))
                {
                    @Html.ValidationSummary();
                    <label>Name*</label><br />@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", required = "" })
                    <label>Company*</label>@Html.TextBoxFor(m => m.Company, new { @class = "form-control", placeholder = "Company", required = "" })
                    <label>Phone*</label>@Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone", required = "" })
                    <label>Email Address*</label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "" })
                    <label>Postcode/Area Code/Zip*</label>@Html.TextBoxFor(m => m.Postcode, new { @class = "form-control", placeholder = "Postcode/Area Code/Zip", required = "" })
                    <label>Enquiry</label>@Html.TextAreaFor(m => m.Message, new { @class = "field span12 form-control", placeholder = "Enter Your Enquiry" })

                    <div align="left">@Html.Captcha("Refresh", "Enter Code", 5, "Is required field.", true)</div>
                    <button class="btnSubmit btn btn-lg btn-primary btn-block fl" type="submit">SUBMIT</button>
                    <p><br><br><br></p>
                }
            </div>
        </div>
    </div>

</div>

</div>