@model IEnumerable<SODAMvcApplication.CMSServiceReference.ContentDef>
@functions{
    private string getVal(string sectionName, string strType)
    {
        var result = from content in @Model
                     where content.PageCode == "Home" && content.SectionName == sectionName && content.Type == strType
                     select content;
         
        return result.Count() > 0? result.First().Value.ToString():"Error";
                     
    }
}
@{
    ViewBag.Title = "Safety On Demand - Home";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.CurPage = "Home";

    
}
<div class="jumbotron clearfix" style="background: url( @MvcHtmlString.Create(@getVal("header_banner_bg_IMG", "href"))) center no-repeat; ">

    <div class="container">
        <div class="banner fl">
            <h1> @MvcHtmlString.Create(@getVal("header_banner_Title", "text"))</h1>@*header_banner_Title*@
            <h2 id="header_banner_txt">@MvcHtmlString.Create(@getVal("header_banner_txt", "text"))</h2> @*header_banner_txt*@

            <a class="freePowerPointBtn fl" href=@getVal("previewNowBtn_href", "href")>Free Powerpoint</a>@*previewNowBtn_href *@
        </div>
    </div>
</div>

<div class="container">
    <div class="whitespace row">
        <div class="thumbPost col-md-4">
            <img class="thumbPic" src=@HttpUtility.UrlPathEncode(@getVal("thumbPost_thum_Pic_href", "href")) alt=@MvcHtmlString.Create(@getVal("thumbPost_thum_Title", "text"))> @*thumbPost_thum_Pic_href*@
            <h3>@MvcHtmlString.Create(@getVal("thumbPost_thum_Title", "text"))</h3>@*thumbPost_thum_Title*@
            <p>@MvcHtmlString.Create(@getVal("thumbPost_thum_details", "text"))</p>
            @*thumbPost_thum_details*@
            <a class="moreLBtn fr" href=@getVal("thumbPost_thum_href", "href")>MORE</a>
        </div>
        <div class="thumbPost col-md-4">
            <img class="thumbPic" src=@HttpUtility.UrlPathEncode(@getVal("thumbPost_thum2_Pic_href", "href")) alt=@MvcHtmlString.Create(@getVal("thumbPost_thum2_Title", "text"))> @*thumbPost_thum2_Pic_href*@
            <h3>@MvcHtmlString.Create(@getVal("thumbPost_thum2_Title", "text"))</h3>@*thumbPost_thum2_Title*@
            <p>@MvcHtmlString.Create(@getVal("thumbPost_thum2_Details", "text"))</p>
            @*thumbPost_thum2_Details*@
            <a class="moreLBtn fr" href=@getVal("thumbPost_thum2_href", "href")>MORE</a>@*thumbPost_thum2_href*@
        </div>
        <div class="thumbPost col-md-4">
            <img class="thumbPic" src=@HttpUtility.UrlPathEncode(@getVal("thumbPost_thum3_Pic_href", "href")) alt=@MvcHtmlString.Create(@getVal("thumbPost_thum3_Title", "text"))> @*thumbPost_thum3_Pic_href*@
            <h3>@MvcHtmlString.Create(@getVal("thumbPost_thum3_Title", "text"))</h3>@*thumbPost_thum3_Title*@
            <p>@MvcHtmlString.Create(@getVal("thumbPost_thum3_Details", "text"))</p>
            @*thumbPost_thum3_Details*@
            <a class="moreLBtn fr" href=@getVal("thumbPost_thum3_href", "href")>MORE</a>
        </div>
    </div>
</div>

<div class="jumbotron2">
    <div class="container row">
        <div class="leftJt fl col-md-4"><img src="~/Content/images/home/mac.png" alt="Macbook"></div>
        <div class="rightJt col-md-7">
            <h2>
                @MvcHtmlString.Create(@getVal("footer_banner_Title","text"))
            </h2>
            <p>
                @MvcHtmlString.Create(@getVal("footer_banner_Desc", "text"))
            </p>
            <p>&nbsp;</p>
            
            <a class="browseChannelBtn fr" href="@Url.Action("index","categories")">Browse Channel</a>
        </div>
    </div>
</div>