@model IEnumerable<SODAMvcApplication.CMSServiceReference.ContentDef>
@functions
{
    private string getVal(string sectionName, string strType)
    {
        var result = from content in @Model
                     where content.PageCode == "Learn" && content.SectionName == sectionName && content.Type == strType
                     select content;

        return result.Count() > 0 ? result.First().Value.ToString() : "Error";

    }
}
@{
    ViewBag.Title = "Safety On Demand - Learn More";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.CurPage = "LearnMore";
    var portalUrl = Session["PortalUrl"] as string;
}

    <div class="commonSection">
        <div class="container row">
            <div class="col-md-6 marginCommon leftCont  border">
                <div class="contentHeading headCommonh1 videoHead">@MvcHtmlString.Create(@getVal("LearnMore_Title", "text"))</div>
                <div class="padding20">

                    @MvcHtmlString.Create(@getVal("LearnMore_Desc", "text"))

                    <a id="iframe" class="freePptBtn fr" href="@Url.Action("contactfreeppt")" rel=" freepowerpoint">Free Powerpoint</a>
                    <div id="freePpt" class="hide" style="width:100%; height:500px; padding:2%; padding-top:30px;">

                        @Html.Partial("contactFreePPT", new SODAMvcApplication.CMSServiceReference.Contact())


                    </div>

                   


                    <p><br><br></p>

                </div>
            </div>
            <div align="right" class="col-md-6 fr marginCommon">
                <a class="purchaseNowbigBtn" href="@portalUrl">PURCHASE NOW</a>

                <a href="@portalUrl"><img src=@getVal("LearnMore_IMG_href","href") alt="Browse Categories"></a>
                <p><br><br><br></p>
            </div>
        </div>

    </div>
