@model IEnumerable<SODAMvcApplication.Models.SiteMapModel>
@{
    ViewBag.Title = "sitemap";
}


<div class="commonSection" style="background-image:none;">
    <div class=" container row">
        <div class="col-md-12">

            <div class="marginCommon contactFormCont border">
                <div class="contentHeading videoHead headCommonh1"> SafetyOnDemand.com Site Map</div>
                <div style="padding:4%;">
                    <p style="font-weight:bold;"><a href="@Url.Action("index","home")">Home</a></p>
                    <p style="font-weight:bold;"><a href="@Url.Action("index","Categories")">Categories</a></p>
                    @foreach (var cat in Model)
{
                    <p style="margin-left:20px;"><a href="@Url.Action("Browse", "categories", new { cat = cat.CatName.Trim().Replace(" ", "-").ToLower() })">@cat.CatName </a></p>
    if (cat.Titles != null)
    {
        foreach (var title in cat.Titles.OrderBy(t=>t.ToString()))
        {
                                <p style="margin-left:40px;"> - <a href="@Url.Action("Details", "categories", new { id = title.Trim().Replace(": ", "-").Replace(" ", "-").Replace("---", "-").ToLower(), cat = cat.CatName.Trim().Replace(" ", "-").ToLower() })">@title</a></p>
                            }
                        }
                    }
                    <p style="font-weight:bold;"><a href="@Url.Action("learnmore","home")">Learn More</a></p>
                    <p style="font-weight:bold;"><a href="@Url.Action("Contact","home")">Contact</a></p>
                    <p style="font-weight:bold;"><a href="@Url.Action("sitemap","home")">Sitemap</a></p>
                    <p style="font-weight:bold;"><a href="@Url.Action("legals","home")">Legals</a></p>
                </div>
            </div>
        </div>

    </div>

</div>