@model CMSMvcApplication.CatListingServiceReference.Category
@{
    ViewBag.Title = "Edit";
}

<h1 class="margin15">Edit Category</h1>

<div class="cmsForm">
@using(Html.BeginForm("Edit","Categories", FormMethod.Post, new{enctype="multipart/form-data"}))
{ 
    <label>Category Title*</label>
    <input type="text" class="form-control" name="CategoryTitle" value=@Model.CategoryName autofocus="">
    <label>Overview</label>
    <textarea class="field span12 form-control" id="textarea" rows="3" cols="49" placeholder="" name="Overview"required>@Model.Overview.Replace("<br/>","\n")</textarea>
    <label>Description</label>
    <textarea class="field span12 form-control" id="textarea" rows="5" cols="49" placeholder="" name="Description" required>@Model.Description.Replace("<br/>", "\n")</textarea>
    <label>Thumbnail Image<span class="uploadTxtCont"> (recommended dimension:200 x 108)</span></label>
    <input type="file" name="Thumb">    
    <img src="http://localhost:51219/@Model.IMG_URL"> <br />
    <label>Banner Image<span class="uploadTxtCont"> (recommended dimension:389 x 147)</span></label>
    <input type="file" name="Banner">    
    <img src="http://localhost:51219/@Model.Banner_IMG"> <br />
    <label>Background Image<span class="uploadTxtCont"> (recommended dimension:1500 x 947)</span></label>
    <input type="file" name="BG">
    <img width="300" height="189" src="http://localhost:51219/@Model.BG_IMG">
    <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SEO</h3>
            </div>
            <div class="panel-body"> 
                <label>Page Title</label>
                <input type="text" class="form-control" placeholder="Enter Page Title" autofocus="" name="CategoryPageTitle" value="@Model.PageTitile" required>   
                <label>Metatag Keywords</label>
                <input type="text" class="form-control" placeholder="Enter Meta Keywords" autofocus="" name="CategoryMetaKeywords" value="@Model.Metatags" required>
                <label>Metatag Description</label>
                <input type="text" class="form-control" placeholder="Enter Meta Description" autofocus="" name="CategoryMetaDescription" value="@Model.MetaDesc" required>
            </div>
        </div> <!-- end of panel:SEO-->
    
    <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
}
</div>