@model SODAPortalMvcApplication.ViewModel.UserModel
@{
    ViewBag.Title = "EditProfile";
    var ContractEndDate = ViewBag.ContractEndDate as Nullable<DateTime>;
}

<div class="portalWrap border">
    @RenderPage("usermenu.cshtml")

    <div class="portalCont margin15">
        <h2 class="margin15">Edit Profile</h2>
        @using (@Html.BeginForm("editprofile", "user", FormMethod.Post, new { @class = "portalForm" }))
        { 
        @Html.ValidationSummary()
            <label>First Name</label>
            @Html.TextBoxFor(m => m.FirtName, new { @class = "form-control" })
            
            <label>Last Name</label>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            <label>Email Address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly="" })
            <label>Company</label>
            @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
            @*<label>Company Website</label>
            @Html.TextBoxFor(m => m.CompanyUrl, new { @class = "form-control" })*@
            <label>Contact No</label>
            @Html.TextBoxFor(m=>m.Contact, new{@class="form-control"})
            @Html.HiddenFor(m=>m.Password)
            @Html.HiddenFor(m => m.ConfirmPassword)
            if(ContractEndDate != null)
            { 
                <label>Contract end date:</label>
                @Html.TextBox("ContractEndDate", string.Format("{0:MMMM dd, yyyy}", ContractEndDate.Value), new { @class = "form-control", @readonly = "" });
            }
            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br>
       
        }
    </div>
</div>
