@{
    ViewBag.Title = "indexpurchase";
    var SalesCode = Session["SalesCode"] as SODAPortalMvcApplication.ViewModel.VerifyModel;
    
    
}

<div class="container row portalContainer">

    <div class="portalWrap displayInline border">
        <div class="fr">
            <div class="logoutSec fr clearfix">Hi user! @Html.ActionLink("(Logout)","logout","home")</div>
        </div>

        <div class="portalCont margin15">
            <h2>Payment Details</h2>

            <h3>Product Name</h3>
            <p>Product Desciption. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>

            <h3>Purchase Additional License</h3>
            <label>Quantity: </label><input type="text" name="quantity" class="form-control">
            <br>

            <h3>Sales code/Promo code </h3>
            <div class="form-group">
                @using(@Html.BeginForm("verify","user"))
                { 
                 
                    <h3>Sales code/Promo code </h3>
                    <label>Sales Code: </label><input type="text" name="salesCode" required class="form-control" value="" style="margin-right:5px;">
                    <button type="submit" class="btn btn-default fl">Verify</button>
                    
                }
            </div>

            <p>&nbsp;</p>
            <p>60 Subscription for 6 months.</p>
            <p>$10 Recurring billing after 6 months initial subscription.</p>
            <p>&nbsp;</p>

            @if(SalesCode != null)
            { 
            
                var pricePerMonth = @SalesCode.price.PriceAmt;
                var SubscriptionPrice = @SalesCode.price.FirstMonthFree? pricePerMonth * 5: pricePerMonth * 6;
                var Discount = @SalesCode.salescode.Discount;
                var DiscountedSubcriptionPrice = (SubscriptionPrice - (SubscriptionPrice * Discount)).ToString("C",new System.Globalization.CultureInfo("en-AU"));
                var DiscountedPermonthPrice  = (pricePerMonth - (pricePerMonth * Discount)).ToString("C",new System.Globalization.CultureInfo("en-AU"));;
                 
            
              <p>&nbsp;</p>
                        
               <p>@DiscountedSubcriptionPrice for the first 6 months then @DiscountedPermonthPrice monthly recurring </p>
                 
            <p>&nbsp;</p>
                using(@Html.BeginForm("termsinit","user"))
                {
                       <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 200px; float: right; margin-right: 5%;">Proceed  > > </button>
                }
            }
        </div>
    </div>

</div>
