@{
    ViewBag.Title = "indexpurchase";
    var SalesCode = Session["SalesCode"] as SODAPortalMvcApplication.ViewModel.VerifyModel;
    var username =Session["Username"] != null? Session["Username"].ToString().Substring(0, Session["Username"].ToString().IndexOf('@')):null;
    var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo((SODAPortalMvcApplication.ViewModel.VerifyModel.Currency)(Enum.Parse(typeof(SODAPortalMvcApplication.ViewModel.VerifyModel.Currency), SalesCode.region.Currency)));   
}

<style>
    .serviceChargeCode {
        font-weight: normal;
        font-size: 20px;
        color: #f8981d;
    }

    .priceSub {
        line-height: 35px;
        margin: 15px;
    }
</style>

<div class="container row portalContainer">

    <div class="portalWrap displayInline border">
        <div class="fr">
            @if(username != null)
            { 
                <div class="logoutSec fr clearfix">Hi @username! @Html.ActionLink("(Logout)", "logout", "home")</div>
            }
        </div>

        <div class="portalCont margin15">
            
           
            <div class="form-group">


                <img src="/Content/images/portal/step1.jpg" alt="Step 1: Enter Your Sales Code"><br />
                <h4>If Sales Code not available, proceed to Step 2.</h4>
                <br />

                @if (TempData["DefaultSalesCode"] == null)
                {
                    <div style="text-align:center; font-size:14px;" class="alert alert-success"><strong>@SalesCode.salescode.Sales_Code</strong>: Sales Code Verified!</div>
                }
                else if (TempData["error"] != null)
                {
                   
                    <div style="text-align:center; font-size:14px;" class="alert alert-danger clearfix">Sales Code Not Verified! Please try again.</div>
                }


                @using(@Html.BeginForm("verify","user"))
                { 
                 
                    
                    <label>Sales Code: </label><input type="text" name="salesCode" required class="form-control" value="" style="margin-right:5px;">
                    <button type="submit" class="btn btn-default fl">Verify</button>
                    
                }
            </div>

          

           
              
               <p>&nbsp;</p>
               
            
             
                        
               @*<p>@DiscountedSubcriptionPrice for the first 6 months then @DiscountedPermonthPrice monthly recurring </p>*@
               
            <p>&nbsp;</p>
               
                @using(@Html.BeginForm("indexpurchase","user", FormMethod.Post))
                {
                           
                        <img src="/Content/images/portal/step2.jpg" alt="Step 2: Choose Your Subscription">
                   
                        <p style="margin-right:10%;"><br />To subscribe, simply select your preferred payment interval for your recurring subscription from the list below.<br><br>
A Safety On Demand Subscription allows you pay every 1 month, 3 month or 6 month intervals to suit your training budget needs. Please note a 6 month minimum sign up is required on all subscriptions, from then you can cancel at any time. Save money by purchasing a payment in 6 month interval subscription. <strong>Great value!</strong><br><br></p>

                     
                        <div class="row">
                            <div class="col-sm-4 border2 shadow">
                                <div class="monthSub">1 MONTH</div>
                                <div class="priceSub">@SalesCode.discountedPrice_A.ToString("C", culture)<br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode </span></div>
                                <div class="radioBg">
                                    <label>
                                        <input type="radio" name="subscription" value="1" checked="">
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-4 border2 shadow">
                                <div class="monthSub">3 MONTHS</div>
                                <div class="priceSub">@SalesCode.discountedPrice_B.ToString("C", culture)<br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode  </span></div>
                                <div class="radioBg">
                                    <label>
                                        <input type="radio" name="subscription" value="2">
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-4 border2 shadow">
                                <div class="monthSub">6 MONTHS</div>
                                <div class="priceSub">@SalesCode.discountedPrice_C.ToString("C", culture)<br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode  </span></div>
                                <div class="radioBg">
                                    <label>
                                        <input type="radio" name="subscription" value="3">
                                    </label>
                               </div>
                            </div>
                        </div>
                        <br> <br>   

          
                        <br> 
                    @Html.ValidationSummary()
                    <label>Quantity: </label><input type="text" name="quantity" class="form-control" placeholder="Enter number of licenses" required>  
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 200px; float: right; margin-right: 5%;">Proceed  > > </button>
                
                    @Html.Hidden("dateAcceptance1");
                
                }
            

           
                
            
        </div>
        <br /><br />
    </div>

</div>
