@model IEnumerable<SODAPortalMvcApplication.ViewModel.CustomerModel>
@{
    ViewBag.Title = "Index";
    var isSCVerified = TempData["VerifiedSC"] as Nullable<bool>;
}

<div class="portalWrap border">
    @RenderPage("usermenu.cshtml")

    <div class="portalCont displayInline margin15">

        <p>Sales Code: <strong>QWE3</strong></p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-top:0px !important; padding-top:0px !important;">Current Subscription</h3>
            </div>
            <div class="panel-body">

                <table class="currentSub" border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr class="currSubHead">
                        <td width="550" bgcolor="">DETAILS</td>
                        <td>CANCEL SUBSCRIPTION</td>
                    @foreach(var customer in Model)
                    {
                       string displayFormat = "{0} License/s : {1} initial for {2} month/s plus {1} recurring every {3} month/s";
                        var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo((SODAPortalMvcApplication.ViewModel.VerifyModel.Currency)Enum.Parse(typeof(SODAPortalMvcApplication.ViewModel.VerifyModel.Currency),customer.rejoin.Currency));
                      
                         switch(customer.customer.RecurringType)
                       {
                           case 1:
                              
                            <tr>
                                <td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.PriceAmt.ToString(culture),customer.price.FirstMonthFree?2:1,1) </td>
                                 <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary">Cancel</button></a></td>
                            </tr>
                               break;
                           case 2:
                             <tr>
                                <td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.PriceAmt_B.ToString(culture),customer.price.FirstMonthFree?4:3,3) </td>
                                <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary">Cancel</button></a></td>
                            </tr>
                               break;
                               case 3:
                            <tr>
                                <td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.priceAmt_C.ToString(culture),customer.price.FirstMonthFree?7:6,6) </td>
                                <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary">Cancel</button></a></td>
                            </tr>
                               break;
                       }
                    }
                   

                </table>
            </div>
        </div>

        <br>
        <hr id="divHr">
        @{Html.RenderAction("indexpurchase");}
        @*<h2>Purchase Additional License</h2>

        <h3 style="margin-top:0px !important; padding-top:0px !important;">Select Your Subscription</h3>
        <div class="row">
            <div class="col-sm-4 border2 shadow">
                <div class="monthSub">1 MONTH</div>
                <div class="priceSub">$13.99</div>
                <div class="radioBg"><input type="radio" name="subscription"></div>
            </div>

            <div class="col-sm-4 border2 shadow">
                <div class="monthSub">3 MONTHS</div>
                <div class="priceSub">$13.99</div>
                <div class="radioBg"><input type="radio" name="subscription"></div>
            </div>

            <div class="col-sm-4 border2 shadow">
                <div class="monthSub">6 MONTHS</div>
                <div class="priceSub">$13.99</div>
                <div class="radioBg"><input type="radio" name="subscription"></div>
            </div>
        </div>
        <br /><br />



        <label>Quantity:</label><input type="text" name="quantity" class="form-control">
        <br><br>
        <label>Sales Code:</label><input type="text" value="@Model.salesCode.Sales_Code" name="salesCode" class="form-control" style="margin-right:5px;" /> 
            <a href="@Url.Action("reverify", new { salescode = @Model.salesCode.Sales_Code })"><button type="submit" class="btn btn-default fl">Verify</button></a>*@
           
        @*@if (isSCVerified.HasValue && isSCVerified.Value)
        {
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p align="left">@Model.price.PriceAmt</p>
            if (Model.customer.DateSubscriptionEnd.Value.Month < DateTime.Now.Month - 1)
            {

                <a href=@Url.Action("unsubscribe")>Cancel subscripion</a>
            }
            else
            {
                <a href=@Url.Action("termsinit")><button style="width:200px; float:right; display:block;" type="submit" class="fl btn btn-lg btn-primary">Purchase</button></a>
               
            }
        }
        else if (isSCVerified.HasValue && !isSCVerified.Value)
        {
            <p>Sales code not verified. Please call Customer service</p>
            <a href=@Url.Action("indexpurchase")>Buy now</a>
        }
        
        <br /><br />*@
   

      
    </div>

</div>
