@model IEnumerable<SODAPortalMvcApplication.ViewModel.CustomerModel>
@{
    ViewBag.Title = "Index";
   var isSCVerified = TempData["VerifiedSC"] as Nullable<bool>;
 
    
    var SalesCode = Session["SalesCode"] as SODAPortalMvcApplication.ViewModel.VerifyModel;
}

<style>
    .serviceChargeCode {
        font-weight: normal;
        font-size: 20px;
        color: #f8981d;
    }
    .priceSub {
        line-height: 35px;
        margin: 15px;
    }
</style>

<div class="portalWrap border">
    @RenderPage("usermenu.cshtml")

    <div class="portalCont displayInline margin15">

        @*<p>Sales Code: <strong>@Model.Last().salesCode.Sales_Code</strong></p>*@
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-top:0px !important; padding-top:0px !important;">Current Subscription</h3>
            </div>
            <div class="panel-body">

                <table class="currentSub" border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                    <tr class="currSubHead">
                        <td width="550" bgcolor="">DETAILS</td>
                        @if(Model.First().contract  != null && Model.First().contract.DateEnd <= Model.First().contract.DateStart)
                        {                                             
                             <td>CANCEL SUBSCRIPTION</td>
                        }
                    @foreach(var customer in Model)
                    {
                       //string displayFormat = "{0} License/s : {1:0.00} initial for {2} month/s plus {1:0.00} recurring every {3} month/s";
                        string displayFormat = "{0} License/s : {1} initial for {2} month/s plus {1} recurring every {3} month/s";
                        var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo((SODAPortalMvcApplication.ViewModel.VerifyModel.Currency)Enum.Parse(typeof(SODAPortalMvcApplication.ViewModel.VerifyModel.Currency),SalesCode.region.Currency));
                        //var pricepaid = customer.paypal.TotalAmt / customer.customer.Licenses; 
                        var pricepaid = customer.paypal.TotalAmt; 
                         switch(customer.customer.RecurringType)
                       {
                           case 1:
                              
                            <tr>
                                @*<td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.PriceAmt.ToString(culture),customer.price.FirstMonthFree?2:1,1) </td>*@
                                <td>@string.Format(displayFormat, customer.customer.Licenses, pricepaid.ToString("C",culture), customer.price.FirstMonthFree ? 2 : 1, 1) </td>
                                @if(customer.contract != null &&  customer.contract.DateEnd <= DateTime.Now)
                                { 
                                 <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary" onclick="return confirm('Are you sure you want to delete the item?');">Cancel</button></a></td>
                                }
                            </tr>
                               break;
                           case 2: 
                             <tr>
                                @*<td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.PriceAmt_B.ToString(culture),customer.price.FirstMonthFree?4:3,3) </td>*@
                                 <td>@string.Format(displayFormat, customer.customer.Licenses, pricepaid.ToString("C", culture), customer.price.FirstMonthFree ? 4 : 3, 3) </td>
                                 @if (customer.contract != null && customer.contract.DateEnd <= DateTime.Now)
                                 {
                                   <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary" onclick="return confirm('Are you sure you want to delete the item?');">Cancel</button></a></td>
                                 }
                            </tr>
                               break;
                           case 3: 
                            <tr>
                                @*<td>@string.Format(displayFormat,customer.customer.Licenses,customer.price.priceAmt_C.ToString(culture),customer.price.FirstMonthFree?7:6,6) </td>*@
                                <td>@string.Format(displayFormat, customer.customer.Licenses, pricepaid.ToString("C", culture), customer.price.FirstMonthFree ? 7 : 6, 6) </td>
                                @if (customer.contract != null && customer.contract.DateEnd <= DateTime.Now)
                                {
                                        <td align="center"><a href=@Url.Action("unsubscribe", new {transid = customer.paypal.ECTransID })><button style="width:100px; margin-left:20%;" type="submit" class="fl btn btn-sm btn-primary" onclick="return confirm('Are you sure you want to delete the item?');">Cancel</button></a></td>
                                }
                            </tr>
                               break;
                       }
                       
                    }
                   

                </table>
            </div>
        </div>

       
        <hr id="divHr">
        <p>&nbsp;</p>
        <h2>Purchase Additional License</h2>  
        <br /> 
        <img src="/Content/images/portal/step1.jpg" alt="Step 1: Enter Your Sales Code"><br />
        <h4>If Sales Code not available, proceed to Step 2.</h4>
        @using (@Html.BeginForm("reverify", "user"))
        {
            if (SalesCode !=null && !SalesCode.isDefaultSalesCode)
            {
                <div style="text-align:center; font-size:14px;" class="alert alert-success"><strong>@SalesCode.salescode.Sales_Code</strong>: Sales Code Verified!</div> <br /> 
                <label>Sales Code:</label><input type="text" value="@SalesCode.salescode.Sales_Code" name="salesCode" class="form-control" style="margin-right:5px;" />
            }
            else if (TempData["error"] != null)
            {
                <div style="text-align:center; font-size:14px;" class="alert alert-danger clearfix">Sales Code not verified! Please try again.</div> <br /> 
            <label>Sales Code:</label><input type="text" value="" name="salesCode" class="form-control" style="margin-right:5px;" />
            }
            else
            { 

               <br />       
               <label>Sales Code:</label><input type="text" value="" name="salesCode" class="form-control" style="margin-right:5px;" />
                  
            }   
             <button type="submit" class="btn btn-default fl">Verify</button>
               <p>&nbsp;</p>      
        }       
                   
             
        <br /><br /><br />
        @if(SalesCode != null)
         {
                var latestLicensesType = Model.Last().customer.RecurringType;
                var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo((SODAPortalMvcApplication.ViewModel.VerifyModel.Currency)Enum.Parse(typeof(SODAPortalMvcApplication.ViewModel.VerifyModel.Currency), SalesCode.region.Currency));
                //string displayFormat = "{0} License/s : {1} initial for {2} month/s plus {1} recurring every {3} month/s";    
               
                using(@Html.BeginForm("index","user", FormMethod.Post))
                { 
                        
                        

                         <img src="/Content/images/portal/step2.jpg" alt="Step 2: Choose Your Subscription">
                        <p style="margin-right:10%;"><br />To subscribe, simply select your preferred payment interval for your recurring subscription from the list below.<br><br>
A Safety On Demand Subscription allows you pay every 1 month, 3 month or 6 month intervals to suit your training budget needs. Please note a 6 month minimum sign up is required on all subscriptions, from then you can cancel at any time. Save money by purchasing a payment in 6 month interval subscription. <strong>Great value!</strong><br><br></p>
                        <div class="row">
                            @if(latestLicensesType < 2)
                            { 
                                <div class="col-sm-4 border2 shadow">
                                    <div class="monthSub">1 MONTH</div>
                                    <div class="priceSub">@SalesCode.discountedPrice_A.ToString("C", culture) <br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode </span></div>
                                    <div class="radioBg">
                                        <label>
                                            <input type="radio" name="subscription" value="1" checked>
                                        </label>
                                    </div>

                                </div>
                            }
                           @if(latestLicensesType > 0 && latestLicensesType != 3)
                           { 
                            <div class="col-sm-4 border2 shadow">
                                <div class="monthSub">3 MONTHS</div>
                                <div class="priceSub">@SalesCode.discountedPrice_B.ToString("C", culture) <br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode</span></div>
                                @if(latestLicensesType == 2)
                                { 
                                    <div class="radioBg">
                                        <label><input type="radio" name="subscription" value="2" checked></label>
                                    </div>
                                }
                                else
                                {     
                                    <div class="radioBg">
                                        <label><input type="radio" name="subscription" value="2"></label>
                                    </div>
                                }
                            </div>
                               
                           }
                            @if(latestLicensesType <= 3 )
                            { 
                                <div class="col-sm-4 border2 shadow">
                                    <div class="monthSub">6 MONTHS</div>
                                    <div class="priceSub">@SalesCode.discountedPrice_C.ToString("C", culture) <br /><span class="serviceChargeCode">+ @SalesCode.region.ServiceChargeCode </span></div>
                                    @if (latestLicensesType == 3)
                                    {
                                        <div class="radioBg"><label><input type="radio" name="subscription" value="3" checked></label></div>
                                    }
                                    else
                                    {
                                       <div class="radioBg"><label><input type="radio" name="subscription" value="3"></label></div>
                                    }
                                </div>
                            }
                        </div>
                        <br /><br />
                         if(TempData["errorQuantity"] != null)
                         {   
                            <div style="text-align:center; font-size:14px;" class="alert alert-danger clearfix">@TempData["errorQuantity"].ToString()</div>
        } 
                            <label>Quantity:</label><input type="text" name="quantity" class="form-control" value="1">
                            @*<label>Quantity:</label><input type="text" name="quantity" class="form-control" value="1">
                            <label>Sales Code:</label><input type="text" value="@Model.Last().salesCode.Sales_Code" name="salesCode" class="form-control" style="margin-right:5px;" />
                            <button type="submit" class="btn btn-default fl" value="verify" name="verify">Verify</button>
                         @Html.ValidationSummary()*@
                          
                         <button type="submit" class="btn btn-lg btn-primary btn-block" style="width: 200px; float: right; margin-right: 5%;">Purchase </button>
               @*<a href="@Url.Action("reverify", new { salescode = @Model.Last().salesCode.Sales_Code })"><button type="submit" class="btn btn-default fl">Verify</button></a>*@
                }
                  
        }
       
       
    
        @if (isSCVerified.HasValue && Model.Count() == 0)
        {
            <a href=@Url.Action("indexpurchase")>Purchase</a>
        }
        
        <br /><br />

      
    </div>

</div>
