@model SODAPortalMvcApplication.ViewModel.CustomerModel
@{
    ViewBag.Title = "Index";
    var isSCVerified = TempData["VerifiedSC"] as Nullable<bool>;
}

<div class="portalWrap border">
    @RenderPage("usermenu.cshtml")

    <div class="portalCont margin15">
       
        <h2>Buy/Cancel</h2>
        <p>Product description here, with clear statement of it is monthly subscription with minimum 6 months contract.....</p>
        
        <h2 style="font-size:20px; margin-top:30px;">Sales Code: <span style="color: #676767;">@Model.salesCode.Sales_Code</span></h2><a href="@Url.Action("reverify", new { salescode = @Model.salesCode.Sales_Code })">Verify</a>
         @if(isSCVerified.HasValue && isSCVerified.Value)
         { 
            <p>@Model.price.PriceAmt</p>
              if (Model.customer.DateSubscriptionEnd.Value.Month < DateTime.Now.Month - 1)
              {

                        <a href=@Url.Action("unsubscribe")>Cancel subscripion</a>
              }
              else
              {
                        
                  <a href=@Url.Action("termsinit")>Buy</a>
              }
         }
         else if (isSCVerified.HasValue &&  !isSCVerified.Value)
         {
             <p>Sales code not verified. Please call Customer service</p>
             <a href=@Url.Action("indexpurchase")>Buy now</a>
         }
       
       
    </div>
</div>
