@model SODAPortalMvcApplication.ViewModel.CustomerModel
@{
    ViewBag.Title = "Profile";
}

<div class="portalWrap border">

    @RenderPage("usermenu.cshtml")


    <div class="portalCont margin15">
        <h2 class="margin15">My Profile <a class="editProfile" href="@Url.Action("EditProfile")"> (edit profile)</a></h2>
        <p><b>First Name: </b> @Html.DisplayFor(m=>m.account.FirstName)</p>
        <p><b>Last Name: </b> @Html.DisplayFor(m=>m.account.LastName)</p>
        <p><b>Email Address: </b> @Html.DisplayFor(m=>m.account.Email)</p>
        <p><b>Company: </b> @Html.DisplayFor(m=>m.account.Company)</p>
        <p><b>Company Website: </b> @Html.DisplayFor(m => m.account.CompanyUrl)</p>
        <p><b>Contact No: </b> @Html.DisplayFor(m=>m.account.ContactNo)</p>
        <p><b>Contract end date:(DD-MM-YYYY) </b>@string.Format("{0:dd-MM-YYYY}",Model.contract.DateEnd)</p>

    </div>
</div>
