@{
    ViewBag.Title = "Profile";
}

<div class="portalWrap border">

    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">BUY/CANCEL</a></li>
            <li><a href="@Url.Action("Profile")">MY PROFILE</a></li>
            <li><a href="@Url.Action("Downloads")">DOWNLOADS</a></li>
            <li><a href="@Url.Action("TermsConditions")">TERMS AND CONDITIONS</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>


    <div class="portalCont margin15">
        <h2 class="margin15">My Profile <a class="editProfile" href="@Url.Action("EditProfile")">(edit profile)</a></h2>
        <p><b>First Name:</b>Ben</p>
        <p><b>Last Name:</b>James</p>
        <p><b>Email Address:</b> benjames@gmail.com</p>
        <p><b>Company:</b> Straight Arrow </p>
        <p><b>Contact No:</b> 09271234567</p>
        <p><b>Contract end date:</b> November 2014</p>

    </div>
</div>
