<div class="fr">
    <ul class="portalUserMenu">
        <li style="padding-left:0px;"><a href="@Url.Action("index")">BUY/CANCEL</a></li>
        <li><a href="@Url.Action("profile")">MY PROFILE</a></li>
        <li><a href="@Url.Action("downloads")">DOWNLOADS</a></li>
        <li><a href="@Url.Action("termsconditions")">TERMS AND CONDITIONS</a></li>
    </ul> <!-- end of portal user menu-->
    <div class="logoutSec fr clearfix"> @Html.ActionLink("Logout", "logout", "home")</div>
</div>