@{
    ViewBag.Title = "Home Page";
}
@if (TempData["ResetPassSent"] != null)
{
    <div style="margin: 5% 10% 2% 10%; text-align: center; font-size: 14px; color: #272727;" class="alert alert-warning">
        <p>
            <span style="font-size:16px; font-weight:bold;">Please check your email!</span><br />

            @*Note: There will be a link in the email to let you reset the password. <br />Please reset it as soon as possible as the link will expire within 72 hours.*@
            Note: Email sent! Please check your email for your password.
        </p>
    </div>

}
@using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "formSignin border shadow" }))
{ @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2 class="margin15">Please sign in</h2>
    <input type="text" autofocus="" required="" placeholder="Email address" class="form-control" name="Username">
    <input type="password" required="" placeholder="Password" class="form-control" name="Password">

    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    <p>&nbsp;</p>
    @*<p>No account yet? <a href="@Url.Action("Registration")">Sign up here</a></p>*@
    <p>No account yet? <a href="@Url.Action("purchasedetails")">Sign up here</a></p>
    <p>Forgot password? @Html.ActionLink("Click here","forgotpassword") </p>
}

