@model SODAPortalMvcApplication.ViewModel.UserModel
@{
    ViewBag.Title = "purchaseDetails";
}
@using (@Html.BeginForm("purchasedetails", "home", FormMethod.Post, new { @class = "formRegistration border shadow" }))
{
    @Html.ValidationSummary()
    <h2 class="margin15">Purchase Details</h2>
    <label>First Name *</label>
    @Html.TextBoxFor(m => m.FirtName, new { placeholder = "First Name", @class = "form-control", required = "" })
    <label>Last Name *</label>
    @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control", required = "" })
    <label>Email Address *</label>
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", @class = "form-control", required = "" })

    <label>Country</label>
    <select class="form-control bfh-countries" data-country="US" name="country"></select>
    <br>

    <label>Contact Number</label>
    @Html.TextBoxFor(m => m.Contact, new { placeholder = "Contact Number", @class = "form-control", })

    <label>Company Name</label>
    @Html.TextBoxFor(m => m.Company, new { placeholder = "Company Name", @class = "form-control", })

    <label>Company Website</label>
    @Html.TextBoxFor(m => m.CompanyUrl, new { placeholder = "Company Website", @class = "form-control", })

  
    <p>&nbsp;</p>
    <div>
        <button style="width:200px;" type="submit" class="fl btn btn-lg btn-primary">Submit</button>
        <a href="@Url.Action("index")"> <button style="width:200px;" type="button" class="fr btn btn-lg btn-primary" name="Cancel" value="cancel">Cancel</button></a>
    </div>
    <div style="clear:none;"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h4>Already a user? <a href="@Url.Action("index")">Click here to login.</a></h4>
    <p>&nbsp;</p>


}
