@{
    var catlist = new List<int>();
    var RequestUrl = Request.Url.Host;
    var mainSiteUrl = RequestUrl.Contains("cms") ? "http://" + RequestUrl.Replace("cms", "www") : "http://localhost:51299/";
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safety On Demand -CMS </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/main.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/cmsStyle.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.datepick.css">
</head>
<body>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <header>
        <div class="container row">
            @*<div class="col-md-2"><a target="_blank" href="http://www.sac-iis.com/"><img class="logo" src="~/Content/images/safetyOnDemand-logo.jpg" alt="Safety On Demand"></a></div>*@
            <div class="col-md-2"><a target="_blank" href="@mainSiteUrl"><img class="logo" src="~/Content/images/safetyOnDemand-logo.jpg" alt="Safety On Demand"></a></div>
            <div class="headerRight fr col-md-10">
                <div class="call"><span class="calltxt">CALL</span> 03 9809 7777</div>
                <div class="socialBtns clearfix">

                    @*<ul>
                        <li><a class="socialTwitter" href="#">twitter</a></li>
                        <li><a class="socialYoutube" href="#">youtube</a></li>
                        <li><a class="socialFacebook" href="#">facebook</a></li>
                        <li><a class="socialLinkdin" href="#">linkdin</a></li>
                    </ul>*@

                    <ul>
                        <li style="display:none;"><a class="socialTwitter" href="#">twitter</a></li>
                        <li style="display:none;"><a href="#" class="socialYoutube">youtube</a></li>
                        <li style="display:none;"><a href="#" class="socialFacebook">facebook</a></li>
                        <li style="display:none;"><a href="#" class="socialLinkdin">linkdin</a></li>
                    </ul>

                </div>

                <div class="navbar2 fr clearfix">

                </div>
            </div> <!-- end of headerRight-->
        </div>
    </header>

    <div class="">
        <div class="container row cmsWrap">
            @if (Session["Username"] != null)
            {
                <div class="col-md-2 border cmsWrapCont">
                    <ul class="cms">
                        <li>@Html.ActionLink("home", "index", "home", new object { }, new { @class = "homeMenu" })</li>
                        <li>@Html.ActionLink("pages", "index", "pages", new object { }, new { @class = "pageMenu" })</li>
                        <li>@Html.ActionLink("categories", "index", "categories", new object { }, new { @class = "categoryMenu" })</li>
                        <li>@Html.ActionLink("titles", "index", "titles", new object { }, new { @class = "titleMenu" })</li>
                        <li>@Html.ActionLink("powerpoint", "index", "powerpoint", new object { }, new { @class = "powerpointMenu" })</li>
                        <li>@Html.ActionLink("profile", "profile", "home", new object { }, new { @class = "profileMenu" })</li>
                        <li>@Html.ActionLink("Logout", "logout", "Home", new object { }, new { @class = "logoutMenu" })</li>
                    </ul>

                    <ul class="cms2">
                        <li>@Html.ActionLink("home", "index", "home")</li>
                        <li>@Html.ActionLink("pages", "index", "pages")</li>
                        <li>@Html.ActionLink("categories", "index", "categories")</li>
                        <li>@Html.ActionLink("titles", "index", "titles")</li>
                        <li>@Html.ActionLink("powerpoint", "index", "powerpoint")</li>
                        <li>@Html.ActionLink("profile", "profile", "home")</li>
                        <li>@Html.ActionLink("Logout", "logout", "Home")</li>
                    </ul>

                </div>
            }
            <div class="col-md-10 border cmsWrapCont2 clearfix">

                @RenderBody()

            </div>
        </div>

    </div>

    <footer>
        @*<div class="whitespace container row">
            <div class="col-md-2"><a target="_blank" href="http://www.sac-iis.com/"><img src="~/Content/images/safetyOnDemand-logoFooter.jpg" alt="Safety On Demand"></a></div>
            <div align="right" class="ftrLinks col-md-10">
                <div class="clearfix">
                    <ul>
                        <li><a target="_blank" href="http://www.sac-iis.com/">HOME</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/contact">CONTACT</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/sitemap">SITEMAP</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/legals">LEGALS</a></li>
                    </ul>
                </div>
                <div class="clearfix"><span>Copyright &copy; 2013</span></div>
            </div>
        </div>*@
        <div class="whitespace container row">
            <div class="col-md-2"><a target="_blank" href="http://www.safetyondemand.com.au/"><img src="~/Content/images/safetyOnDemand-logoFooter.jpg" alt="Safety On Demand"></a></div>
            <div align="right" class="ftrLinks col-md-10">
                <div class="clearfix">
                    <ul>
                        <li><a href="@mainSiteUrl">HOME</a></li>
                        <li><a href="@mainSiteUrl/home/contact">CONTACT</a></li>
                        <li><a href="@mainSiteUrl/home/sitemap">SITEMAP</a></li>
                        <li><a href="@mainSiteUrl/home/legals">LEGALS</a></li>
                    </ul>
                </div>
                <div class="clearfix"><span>Copyright &copy; @DateTime.Now.Year</span></div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
  
    <script src="/Content/js/jquery.pages.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("div.holder").jPages({
                containerID: "testtitlepage",
                perPage: 5
            });
        });
    </script>


    <script language="javascript">

        jQuery(document).ready(function () {

            jQuery('.topicBtn').click(function () {
                $fields = jQuery('#text div').length;
                if ($fields <= 40) {
                    jQuery('#text').append("<div><input name='topicName[]' type='text' value='' class='ifield' autofocus placeholder='Input topic name' /> <a href='javascript:void(0)' class='unselect'><img src='/Content/images/cms/remove.jpg' width='26' height='26' border='0'></a></div>")
                } else {
                    jQuery('.notifyError').html('<div class="alert alert-warning"><strong>Only 40 upload fields allowed.</strong></div>')
                }

            });

            jQuery(document).on('click', '.unselect', function () {

                jQuery(this).parent().remove()

            });



            jQuery('.chapterBtn').click(function () {

                $fields = jQuery('#text2 div').length;

                if ($fields <= 40) {

                    jQuery('#text2').append("<div><hr style='width:100%; color:#f4f4f4; height:1px;'>Name: <input name='chapterName[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter name' /><br>Time: &nbsp; <input name='chapterTime[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter time' /> <a href='javascript:void(0)' class='unselect2'><img src='/Content/images/cms/remove.jpg' width='26' height='26' border='0'></a></div>")


                } else {
                    jQuery('.notifyError2').html('<div class="alert alert-warning"><strong>Only 40 upload fields allowed.</strong></div>');
                }



            });

            jQuery(document).on('click', '.unselect2', function () {

                jQuery(this).parent().remove()

            });


        });
    </script>

    <script type="text/javascript" src="/Content/js/jquery.datepick.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#popupDatepicker').datepick();
        });

        function showDate(date) {
            alert('The date chosen is ' + date);
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('#popupDatepicker2').datepick();
        });

        function showDate(date) {
            alert('The date chosen is ' + date);
        }
    </script>

    <script>
        jQuery(document).ready(function () {


            jQuery('#button').click(function () {
                $selected = jQuery('#dddd').val();
                if ($selected == null) { return false; }
                for ($x = 0; $x < $selected.length; $x++) {
                    $xvals = jQuery("#dddd option[value='" + $selected[$x] + "']").text();
                    $selectedUI = jQuery('.selectedUI').append('<div class="selectedList">' + $xvals + ' <a class="unselect" href="#" rel="' + $selected[$x] + '">x</a></div>');

                    jQuery('#tttt').append('<option value="' + $selected[$x] + '">' + $xvals + '</option>');
                       
                }


                jQuery('#tttt option').prop('selected', 'selected');
                jQuery('option:selected', '#dddd').remove();


            });


            jQuery(document).on('click', '.unselect', function () {

                $itsVal = jQuery(this).attr('rel');
                $itsTxt = jQuery(this).parent().text();
                $itsTxt = $itsTxt.replace(" x", "");

                jQuery('#dddd').append('<option value="' + $itsVal + '">' + $itsTxt + '</option>');

                jQuery('#tttt option[value=' + $itsVal + ']').remove();

                jQuery(this).parent().remove();
            });

        });
    </script>

  
    


</body>
</html>