<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safety On Demand -CMS </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/main.css" rel="stylesheet" media="screen">
    <link href="~/Content/css/cmsStyle.css" rel="stylesheet" media="screen">
</head>
<body>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <header>
        <div class="container row">
            <div class="col-md-2"><a target="_blank" href="http://www.sac-iis.com/"><img class="logo" src="~/Content/images/safetyOnDemand-logo.jpg" alt="Safety On Demand"></a></div>
            <div class="headerRight fr col-md-10">
                <div class="call"><span class="calltxt">CALL</span> 03 9809 7777</div>
                <div class="socialBtns clearfix">

                    <ul>
                        <li><a class="socialTwitter" href="#">twitter</a></li>
                        <li><a class="socialYoutube" href="#">youtube</a></li>
                        <li><a class="socialFacebook" href="#">facebook</a></li>
                        <li><a class="socialLinkdin" href="#">linkdin</a></li>
                    </ul>

                </div>

                <div class="navbar2 fr clearfix">

                </div>
            </div> <!-- end of headerRight-->
        </div>
    </header>

    <div class="">
        <div class="container row cmsWrap">
            @if (Session["Username"] != null)
            {
                <div class="col-md-2 border cmsWrapCont">
                    <ul class="cms">
                        <li>@Html.ActionLink("home", "index", "home", new object { }, new { @class = "homeMenu" })</li>
                        <li>@Html.ActionLink("pages", "index", "pages", new object { }, new { @class = "pageMenu" })</li>
                        <li>@Html.ActionLink("categories", "index", "categories", new object { }, new { @class = "categoryMenu" })</li>
                        <li>@Html.ActionLink("titles", "index", "titles", new object { }, new { @class = "titleMenu" })</li>
                        <li>@Html.ActionLink("profile", "index", "profile", new object { }, new { @class = "profileMenu" })</li>
                        <li>@Html.ActionLink("Logout", "logout", "Home", new object { }, new { @class = "logoutMenu" })</li>
                    </ul>

                </div>
            }
            <div class="col-md-10 border cmsWrapCont2">

                @RenderBody()

            </div>
        </div>

    </div>

    <footer>
        <div class="whitespace container row">
            <div class="col-md-2"><a target="_blank" href="http://www.sac-iis.com/"><img src="~/Content/images/safetyOnDemand-logoFooter.jpg" alt="Safety On Demand"></a></div>
            <div align="right" class="ftrLinks col-md-10">
                <div class="clearfix">
                    <ul>
                        <li><a target="_blank" href="http://www.sac-iis.com/">HOME</a></li>
                        <li><a target="_blank" href="http://www.sac-iis.com/home/contact">HOME</a></li>
                        <li><a target="_blank" href="#">SITEMAP</a></li>
                        <li><a target="_blank" href="#">LEGALS</a></li>
                    </ul>
                </div>
                <div class="clearfix"><span>Copyright &copy; 2013</span></div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>